{{define "title"}}Create New Meeting{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>

	<form id="form" method="post">
		<div class="form-group">
			<label for="title">Subject Title</label>
			<input type="text" name="title">
			<label for="">Location</label>
			<input type="text" name="location">
			<label for="starttime">Start Time</label>
		  <input type="text" name="starttime">
		</div>

		<a title="Save" class="btn btn-success" role="submit" onclick="document.getElementById('form').submit();">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
		</a>
		<a title="Cancel" class="btn btn-danger" role="button" href="{{$.BaseURI}}meeting/index">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back
		</a>

		<input type="hidden" name="token" value="{{.token}}">
		<input type="hidden" name="meetingID" value="">

	</form>

	{{template "footer" .}}
</div>

{{end}}
{{define "foot"}}{{end}}
